<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.db_inventory">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_PROFILE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_iconnn"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_iconnn"
        android:supportsRtl="true"
        android:theme="@style/Theme.DB_Inventory">
        <activity
            android:name=".Stock_In_Scan_RFID"
            android:exported="false" />
        <activity
            android:name=".StockIn_Menu"
            android:exported="false" />
        <activity
            android:name=".RFID_SettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".RFID_MoreHandleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RFID_SettingPower"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RFID_MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GRNList2"
            android:exported="false" />
        <activity
            android:name=".GRN_Search"
            android:exported="false" />
        <activity
            android:name=".GRNInventory_step5"
            android:exported="false" />
        <activity
            android:name=".GRNInventory_step4"
            android:exported="false" />
        <activity
            android:name=".SearchInventoryQtyAdjustment"
            android:exported="false" />
        <activity
            android:name=".GRNInventory_step2"
            android:exported="false" />
        <activity
            android:name=".GRNInventoryList"
            android:exported="false" />
        <activity
            android:name=".GRNInventory"
            android:exported="false" />
        <activity
            android:name=".SaleOrderList"
            android:exported="false" />
        <activity
            android:name=".GoodReturnNo_Menu"
            android:exported="false" />
        <activity
            android:name=".GRNList"
            android:exported="false" />
        <activity
            android:name=".NewGRN"
            android:exported="false" />
        <activity
            android:name=".GRN_Home"
            android:exported="false" />
        <activity
            android:name=".Stock_Adjustment_List"
            android:exported="false" />
        <activity
            android:name=".Stock_Adjustment_Home"
            android:exported="false" />
        <activity
            android:name=".StockMovement"
            android:exported="false" />
        <activity
            android:name=".Maintain"
            android:exported="false" />
        <activity
            android:name=".Sales_Order"
            android:exported="false" />
        <activity
            android:name=".StockOut_step3"
            android:exported="false" />
        <activity
            android:name=".Modify_User"
            android:exported="false" />
        <activity
            android:name=".Stock_Out_Scan"
            android:exported="false" />
        <activity
            android:name=".House_List_Stock_Out"
            android:exported="false" />
        <activity
            android:name=".House_List_Stock_In"
            android:exported="false" />
        <activity
            android:name=".StockIn_step3"
            android:exported="false" />
        <activity
            android:name=".StockIn_step2"
            android:exported="false" />
        <activity
            android:name=".Stock_In_Scan"
            android:exported="false" />
        <activity
            android:name=".Login_user"
            android:exported="false" />
        <activity
            android:name=".Access_Right"
            android:exported="false" />
        <activity
            android:name=".Create_User"
            android:exported="false" />
        <activity
            android:name=".Maintain_User"
            android:exported="false" />
        <activity
            android:name=".Wireless_Export"
            android:exported="false" />
        <activity
            android:name=".Inventory_List2"
            android:exported="false" />
        <activity
            android:name=".Search"
            android:exported="false" />
        <activity
            android:name=".House_List2"
            android:exported="false" />
        <activity
            android:name=".Search_House"
            android:exported="false" />
        <activity
            android:name=".Inventory_Delete_Confirm"
            android:exported="false" />
        <activity
            android:name=".Item_Spec_Modify"
            android:exported="false" />
        <activity
            android:name=".Item_Spec"
            android:exported="false" />
        <activity
            android:name=".House_Modify"
            android:exported="false" />
        <activity
            android:name=".New_Goods_step2"
            android:exported="false" />
        <activity
            android:name=".Inventory_step5"
            android:exported="false" />
        <activity
            android:name=".Inventory_step3"
            android:exported="false" />
        <activity
            android:name=".Inventory_step4"
            android:exported="false" />
        <activity
            android:name=".Inventory_step2"
            android:exported="false" />
        <activity
            android:name=".Inventory_Data_Clear"
            android:exported="false" />
        <activity
            android:name=".Inventory_List"
            android:exported="false" />
        <activity
            android:name=".House_Menu"
            android:exported="false" />
        <activity
            android:name=".House_New_House"
            android:exported="false" />
        <activity
            android:name=".Inventory"
            android:exported="false" />
        <activity
            android:name=".House_New_Goods"
            android:exported="false" />
        <activity
            android:name=".House_Setting"
            android:exported="false" />
        <activity
            android:name=".Generate_Txt"
            android:exported="false" />
        <activity
            android:name=".House_List"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Home_Page"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Login_Menu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>